* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #ccc; */
}

.header {
  width: 100%;
  background-color: #fcfbfb;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgb(74, 74, 74);
}

.header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav .logo img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 19%;
}

.header nav .search-side input {
  padding: 9px 5px;
  font-size: 1rem;
  border: none;
  outline: none;
}

.header nav .search-side {
  display: flex;
  align-items: center;
  margin-right: 12px;
  border: 2px solid #b39f9f;
}
.header nav .search-side button {
  padding: 8px 12px;
  outline: none;
  display: grid;
  place-items: center;
  border: none;
  cursor: pointer;
}

/* hero section  */

.hero-section {
  height: auto;
  min-height: 100vh;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
}

/* aside  */
.hero-section .aside-section {
  position: absolute;
  width: 19%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgb(74, 74, 74);
}
.hero-section .aside-section .aside-heading {
  margin-top: 2em;
  font-size: 1.5vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  color: rgb(54, 49, 49);
  font-style: normal;
  text-transform: capitalize;
  border-bottom: 2px solid rgb(74, 74, 74);
}
.hero-section .aside-section .check-box-section {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-section .aside-section .check-box-section div input {
  transform: scale(1.5);
  margin-right: 12px;
}
.hero-section .aside-section .check-box-section div span {
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* books section  */
.hero-section .books-section {
  color: white;
  position: absolute;
  left: 19%;
  width: 81%;
  height: 100%;
}
.hero-section .books-section .filter-navbar {
  padding: 23px;
  height: 5%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
}
.hero-section .books-section .filter-navbar .filters select {
  padding: 5px 15px;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  cursor: pointer;
}

.hero-section .books-section .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin: 27px 6px 8px 10px;
  height: auto;
  min-height: 80%;
}
.hero-section .books-section .card-container .card {
  position: relative;
  color: #000000;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero-section .books-section .card-container .card .cover {
  border: 2px solid gray;
  width: 60%;
  overflow: hidden;
}
.hero-section .books-section .card-container .card img {
  width: 100%;
}

.hero-section .books-section .card-container .card .card-detail {
  padding-left: 13px;
  transform: translate(0%, 0%);
}
.hero-section .books-section .card-container .card .card-detail h4 {
  margin-top: 12px;
  font-size: 1.2em;
  color: #1e1d1de8;
  font-style: normal;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero-section .books-section .card-container .card .card-detail p {
  margin: 12px 0px;
}
.hero-section .books-section .card-container .card .card-detail p:nth-child(2) {
  opacity: 0.5;
}

.hero-section .books-section .pagenation-btns{
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.hero-section .books-section .pagenation-btns button{
  padding: 8px 12px;
  background: none;
  outline: none;
  border: 1px solid black;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif ;
  font-size: 1em;
  margin: 0px 5px;
  cursor: pointer;
}
